backup/node_red/flows.json
[{"id":"ec243216.eda26","type":"tab","label":"Categories","disabled":false,"info":""},{"id":"9bf9e58a.098c58","type":"tab","label":"Carousel Related","disabled":false,"info":""},{"id":"ea43517a.81a72","type":"tab","label":"products","disabled":false,"info":""},{"id":"7b48029.17803fc","type":"mongodb","hostname":"mongo","topology":"direct","connectOptions":"","port":"27017","db":"smarty","name":""},{"id":"6cd1e57c.296bcc","type":"http in","z":"ec243216.eda26","name":"","url":"/categories","method":"get","upload":false,"swaggerDoc":"","x":100,"y":40,"wires":[["6e92139f.50863c"]]},{"id":"6e92139f.50863c","type":"function","z":"ec243216.eda26","name":"","func":"var cats = [];\n\nfor(var x = 0; x < 8; x++){\n    cats.push({\n        \"id\": x,\n        \"name\": \"Category\"+x,\n        \"slug\": \"category\"+x,\n        \"image\": \"bulb.jpg\"\n    });\n}\n\nmsg.payload = cats;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":40,"wires":[["4bf928cf.3a8208"]]},{"id":"4bf928cf.3a8208","type":"http response","z":"ec243216.eda26","name":"","statusCode":"","headers":{},"x":610,"y":40,"wires":[]},{"id":"cbfea5d5.7b2f48","type":"http in","z":"9bf9e58a.098c58","name":"","url":"/carousel","method":"get","upload":false,"swaggerDoc":"","x":90,"y":40,"wires":[["a17b3278.cab3c"]]},{"id":"a17b3278.cab3c","type":"function","z":"9bf9e58a.098c58","name":"","func":"var cats = [];\n\nfor(var x = 0; x < 9; x++){\n    cats.push({\n        \"id\": x,\n        \"image\": \"bulb.jpg\",\n        \"text\": \"Random text\"+x,\n        \"link\":\"#\"\n    });\n}\n\nmsg.payload = cats;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":40,"wires":[["19eb34e7.c3410b"]]},{"id":"19eb34e7.c3410b","type":"http response","z":"9bf9e58a.098c58","name":"","statusCode":"","headers":{},"x":610,"y":40,"wires":[]},{"id":"c6018c2f.4ae6d","type":"http in","z":"ea43517a.81a72","name":"","url":"/products/latest","method":"get","upload":false,"swaggerDoc":"","x":110,"y":40,"wires":[["e03e1f33.254dc"]]},{"id":"e03e1f33.254dc","type":"function","z":"ea43517a.81a72","name":"","func":"var cats = [];\n\nfor(var x = 0; x < 4; x++){\n    cats.push({\n        \"id\": x,\n        \"name\": \"Category\"+x,\n        \"slug\": \"category\"+x,\n        \"image\": \"bulb.jpg\",\n        \"text1\":\"A text1 message\",\n        \"text2\":\"A text2 message\"\n    });\n}\n\nmsg.payload = cats;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":40,"wires":[["503fbcec.b039e4"]]},{"id":"503fbcec.b039e4","type":"http response","z":"ea43517a.81a72","name":"","statusCode":"","headers":{},"x":610,"y":40,"wires":[]},{"id":"a779b9e9.126ae8","type":"http in","z":"ec243216.eda26","name":"","url":"/categories/all","method":"get","upload":false,"swaggerDoc":"","x":110,"y":100,"wires":[["c02f40c9.9130a"]]},{"id":"c02f40c9.9130a","type":"function","z":"ec243216.eda26","name":"","func":"var cats = [];\n\nfor(var x = 0; x < 18; x++){\n    cats.push({\n        \"id\": x,\n        \"name\": \"Category\"+x,\n        \"slug\": \"category\"+x,\n        \"image\": \"bulb.jpg\"\n    });\n}\n\nmsg.payload = cats;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":100,"wires":[["b54711a4.6e6f2"]]},{"id":"b54711a4.6e6f2","type":"http response","z":"ec243216.eda26","name":"","statusCode":"","headers":{},"x":610,"y":100,"wires":[]}]